<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
    </style>
    <title>Bioinformatics DNA Processing</title>
</head>
<body>
    <header>
        <h1>Bioinformatics DNA Processing</h1>
    </header>

    <div class="container fade-in">
        <form method="post">
            <label for="dna_sequence">Enter DNA Sequence:</label>
            <input type="text" name="dna_sequence" required>
            <button type="submit" class="fade-in">Process</button>
        </form>

        {% if invalid_sequence_message %}
            <div class="result">
                <h2>Error:</h2>
                <p>{{ invalid_sequence_message }}</p>
            </div>
        {% else %}
            <div class="result">
                {% if replicated_sequence %}
                    <h2>Replicated Sequence:</h2>
                    <p>{{ replicated_sequence }}</p>
                {% endif %}

                {% if transcribed_rna_sequence %}
                    <h2>Transcribed RNA Sequence:</h2>
                    <p>{{ transcribed_rna_sequence }}</p>
                {% endif %}

                {% if translated_protein_sequence %}
                    <h2>Translated Protein Sequence:</h2>
                    <p>{{ translated_protein_sequence }}</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
<footer>
    <div class="attribution">
      Made With
      <a href="https://openai.com/about" target="_blank"
        >OpenAI</a
      > by <a class="pritam" href="https://twitter.com/pritam_biotech"> Pritam <span>☕</span></a
      >.
    </div>
  </footer>
</body>
</html>
